header img{

  max-width:200px;
  
  }
  
  .nav{
  
  float:right;
  
  }
  
  .nav li{
  
  padding:30px;
  
  }

  .carousel-item img {

    max-width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }